# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Instance folder
input_files_from_CaseLaw/
output_summaries_from_LegalBert_large/
.ipynb_checkpoints/

# environment files
*.env

processed_files_for_demo.csv
